@font-face {
    font-family: myFont;
    src: url("../fonts/NotoSansLao.tff") format("truetype")
    ,url("../fonts/ShareTechMono.tff") format("truetype");
}

body, input[type="submit"], input[type="reset"], fieldset input[type="radio"], button {
    font-family: myFont, sans-serif;
}

p {
    font-size: 12pt;
}

table, tr, td, th {
    padding: 5px;
    border: 1px solid green;
}

th {
    width: 15%;
}

input[type="submit"], button {
    color: white;
    background-color: green;
    font-size: 12pt;
    border-radius: 5px;
    border-style: none;
}

input[type="submit"]:hover, button:hover {
    color: green;
    background-color: rgba(0, 0, 0, 0.3);
}

input[type="reset"] {
    color: white;
    background-color: red;
    font-size: 12pt;
    border-radius: 5px;
    border-style: none;
}

input[type="reset"]:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 25%;
    font-size: 12pt;
    border-radius: 5px;
    padding: 5px;
}

.invalid {
    border-color: red;
}

.invalid-text {
    color: red;
}

.navbar {
    background-color: green;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    font-size: 20pt;
    color: white;
    padding: 20px 15px;
}

.navbar a:hover {
    background-color: white;
    color: green;
}

.title {
    text-align: center;
}

.container {
    margin: 50px;
}

.text-box {
    border: 1px solid green;
    padding: 10px;
}

.test-list {
    list-style: none;
}

.btn {
    padding: 1.5px 10px;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.btn-lg {
    padding: 3px 10px;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.btn-red {
    padding: 1.5px 10px;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: green;
}

.btn-lg:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: green;
}

.btn-red:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
}

#registerForm, #loginForm {
    text-align: center;
}

